<!doctype html>
<html lang="en" class="vf-no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" /> #}
  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
  <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
  {% render '@vf-no-js' %}
</head>

<body class="{{ bodyClass }} vf-body">
  <header class="vf-global-header">

    <div class="vf-global-header__inner">

      <a href="http://www.embl.de" class="vf-logo">
        <img class="vf-logo__image" src="{{ '/images/EMBL_logo_colour.png' | url }}" alt="EMBL">
      </a>


      <nav class="vf-navigation vf-navigation--global">
        <ul class="vf-navigation__list | vf-list--inline">
          <li class="vf-navigation__item">
            <a href="#" class="vf-navigation__link">Explore</a>
          </li>
          <li class="vf-navigation__item">
            <a href="#" class="vf-navigation__link">Search</a>
          </li>
          <li class="vf-navigation__item">
            <a href="#" class="vf-navigation__link">Sign In</a>
          </li>
        </ul>
      </nav>

    </div>

  </header>
  <div class="vf-grid">
    <div>
      {{ content | safe }}
    </div>
  </div>

  {% include "../footer.njk" %}
</body>

</html>