---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk
---

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">EMBL and the Tara Ocean Foundation <a
                href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
        <h1 class="vf-text vf-text-heading--2">Mission Microplastics – The Tara Ocean Foundation</h1>
        <p class="vf-intro__text">Throughout her expeditions since 2010, the schooner Tara has been collecting small
            particles of plastic – known as microplastics – in virtually all of her nets. Inspired by this growing
            problem, the <a class="vf-link" target="_blank" href="https://oceans.taraexpeditions.org/en/">Tara Ocean
                Foundation’s</a> newest endeavour, Mission Microplastics, will study the nature of the plastic pollution
            entering the ocean from the European mainland. From June to November 2019, scientists aboard Tara will
            sample the microplastics flowing from the estuaries of 10 of Europe’s major rivers, using superfine
            microplastic-collecting nets.</p>
    </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div class="vf-video">
        <iframe width="740" height="400" src="https://www.youtube.com/embed/x54nsiSuuyU" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</section>


<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div class="vf-content">


        {% markdown %}

        ### Microplastics: an invisible threat

        From the Mediterranean to the Pacific, from the Arctic to the Antarctic, the observations are clear: traces
        of plastic are prevalent throughout the world’s seas and oceans. While the build-up of plastic waste on
        beaches is eye-catching, increasing concentrations of microplastics present a less obvious danger.

        {% endmarkdown %}

        </p>
        <p>These plastic particles and the potentially toxic chemicals they may carry with them, such as solvents, dyes
            and pesticides, are broken down by the Sun’s ultraviolet radiation and the motion of the waves, and interact
            with many marine organisms. Recent studies have found that most marine species, including the tiny plankton
            that
            form the basis of many ocean ecosystems, now contain microplastics. These present a real danger for the
            entire
            marine food chain and for human health, but their impact on living organisms is still poorly documented.</p>
        <figure class="vf-figure">
            <img class="vf-figure__image" src="{{ '/images/C-David-Sauveur---Fondation-Tara-Ocean.jpeg' | url }}"
                alt="© David Sauveur - Fondation Tara Océan">
            <figcaption class="vf-figure__caption">© David Sauveur - Fondation Tara Océan</figcaption>
        </figure>
        <p>Mission Microplastics aims to answer the following questions</p3>
            <ul>
                <li>What does the composition of a microplastic reveal about its source?</li>
                <li>How do microplastics disperse once out at sea?</li>
                <li>Which species of flora and fauna colonise plastic particles?</li>
                <li>Which types of plastics are the most toxic to marine biodiversity?</li>
                <li>How do the concentrations of toxic substances carried by plastics build up in the food chain?</li>
                <li>Where can we best focus our efforts to stop the stream of plastic into the ocean?</li>
            </ul>
            <figure class="vf-figure">
                <img class="vf-figure__image"
                    src="{{ '/images/Petri-dish-researcher-C-Noelie-Pansiot---Fondation-Tara-OceanPetri-dish-researcher-C-Noelie-Pansiot---Fondation-Tara-Ocean.png' | url }}"
                    alt="© Noélie Pansiot - Fondation Tara Océan">
                <figcaption class="vf-figure__caption">© Noélie Pansiot - Fondation Tara Océan</figcaption>
            </figure>
            <h3>Between land and sea</h3>
            <p>Tara has sailed and sampled the open oceans of the world, but this time she’s staying closer to the
                shore. By
                approaching coastlines and sailing up rivers, the scientists will help trace ocean microplastics back to
                their origin on land. Unlike aggregate or global statistics, the collection of regional data will help
                identify local sources of plastic pollution and will aid the development of local policies to reduce the
                quantity of microplastics that make it out to sea.</p>
            <p>The schooner will make 18 stopovers during its journey through the Baltic and North Seas, along Europe’s
                Atlantic coast and around the western Mediterranean. These stops will include activities to engage the
                public, scientists, stakeholders, local authorities and the private sector and to raise awareness of the
                risks of microplastic pollution. In addition to tours, lectures and press conferences onboard the
                sailboat,
                visitors will be greeted by an exhibition on the research conducted by the Tara Ocean Foundation.</p>
            <figure class="vf-figure">
                <img class="vf-figure__image" src="{{ '/images/map_l.jpg' | url }}" alt="map">
            </figure>
            <p>Several of these stopovers will bring the vessel close to EMBL&rsquo;s sites around Europe. During
                <em>Tara&rsquo;s</em> time in port, EMBL will be holding events such as visits to the schooner and talks
                and
                press conferences about EMBL&rsquo;s visionary fundamental research and technology development in the
                life
                sciences. &ldquo;As the largest cohesive ecosystem on Earth, the oceans can provide us with insights
                that
                are crucial not only for the preservation of mankind, but also of our planet,&rdquo; says Edith Heard,
                EMBL
                Director General. &ldquo;EMBL will continue working to gain these vital insights in future, together
                with
                the Tara Ocean Foundation and the French National Centre for Scientific Research (CNRS), among
                others.&rdquo;</p>
            <p>The EMBL stopovers will be:</p>
            <ul>
                <li>London, 11&ndash;13 June (EMBL-EBI)</li>
                <li>Hamburg, 16&ndash;19 June (EMBL Hamburg)</li>
                <li>Rome, 12&ndash;15 September (EMBL Rome)</li>
                <li>Marseille, 27 September &ndash; 2 October (EMBL Grenoble). The stopover in Marseille coincides with
                    the
                    'EMBL in France' event comprising a tour on the Tara schooner on 29 September, and an EMBL Alumni
                    meeting on 30 September.</li>
                <li>Barcelona, 4&ndash;9 October (EMBL Barcelona).&nbsp;Here, the stopover coincides with two other
                    events.
                    On 5&ndash;6 October, the Barcelona Biomedical Research Park (PRBB) &ndash; where EMBL Barcelona is
                    situated &ndash; will be holding its open days. And on 7 October, EMBL Barcelona will be hosting the
                    &lsquo;EMBL in Spain&rsquo; event, organised by EMBL&rsquo;s Alumni Relations team</li>
            </ul>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div class="vf-content">
        <h2>EMBL and Tara</h2>
        <p>EMBL&rsquo;s collaboration with <em>Tara</em> began with the <a
                href="https://www.embl.de/tara/tara-oceans-science/index.html" title="Tara Oceans science">Tara
                Oceans
                expedition</a> (2009&ndash;2013). The project was initiated by EMBL group leader Eric Karsenti, who
            led
            the mission&rsquo;s scientific activities. EMBL coordinates the expedition&rsquo;s scientific
            consortium,
            which includes more than 100 scientists from 18 partner institutions. &ldquo;EMBL continues to make
            crucial
            contributions in data analysis, data storage, and in making all data publicly available,&rdquo; says
            EMBL
            Director General Edith Heard. EMBL&rsquo;s European Bioinformatics Institute (EMBL-EBI) stores the <a
                href="https://www.ebi.ac.uk/metagenomics/studies/ERP001736" target="_blank">genomics data</a>
            produced
            by the expedition.</p>
    </div>
</section>